@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Mono&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.color-nav {
  background-color: #22223b;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.3s;
  color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #61d5a8, 0 0 40px #61d5a8,
    0 0 50px #61d5a8, 0 0 60px #61d5a8, 0 0 70px #61d5a8;
  font-weight: 600;
  color: white;
}

.navbar-nav .nav-link:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #61d5a8, 0 0 40px #61d5a8,
    0 0 50px #61d5a8, 0 0 60px #61d5a8, 0 0 70px #61d5a8;
  font-weight: 600;
}

/* BANNER */
.hr
{
  
    margin: 0rem 0;
    color: #000;
}



      /* FOOTER */
.footer {
    height: auto;
    background-color: #22223b;
  }
  
  .footer-title {
    color: #ffffff;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .footer-desc {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .footer-copyright {
    color: #034f24;
    font-size: 14px;
  }